body {
  
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.bg-3 { 
  background-color: #ffffff;
  color: #555555;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav  li a:hover {
  color: #1abc9c !important;
}.active>a {
color: #1abc9c !important;;
}

.navbar-right{
  text-align: right;
}


.homeImg{
  width: 20%;
  height:20%;
}
.Wrapper{
  min-height: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Search_box{
  background: #643fef;
  position: relative;
  padding: 30px;
  border-radius: 50px;
  display: flex;
  height: 25px;
}
.Search_box .Search_btn{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #7a5cf0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-right: 15px;
  cursor: pointer;
 
}
.Search_box .input_Search{
  outline: none;
  border: 0;
  background: #7a5cf0;
  color: #fff;
  padding: 15px 20px;
  width: 300px;
  height: 50px;
  border-radius: 50px;
}


.petIcon{
  width: 15%;
}

#attribution{
  text-align:center;
}

#site_logo{
  width: 35%
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #643fef;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #7a5cf0;
}

/* Add a background color and some padding around the form */
.form_container {
  border-radius: 5px;
  background-color: #f8f8f8;
  padding: 20px;
  width: 75%
}

#aboutHeader{
  text-align: left;
}

#aboutInfo{
  text-align: left;
  font-size: x-large;
}

#WhatWeDoHeader{
  text-align: left;
}

#WhatWeDoInfo{
  text-align: left;
  font-size: x-large;
}

.aboutLeftColumn {
  float: left;
  width: 50%;
  padding: 8%;
}

.aboutRightColumn {
  float: right;
  width: 50%;
  height: 10%;
  padding-top: 10%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.aboutImg{
  width: 70%;
  height: 70%;
  float: center;
}

.WhatWeDoLeftColumn {
  float: left;
  width: 50%;
  height: 10%;
  padding-top: 10%
}

.WhatWeDoRightColumn {
  float: right;
  width: 50%;
  padding-top: 15%;
  padding-right: 15%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.WhatWeDoImg{
  width: 85%;
  height: 90%;
  float: center;
}

/* https://www.w3schools.com/howto/howto_css_placeholder.asp */

.input_Search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #AAAAAA;
  opacity: 1; /* Firefox */
}

.input_Search:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #AAAAAA;
}

.input_Search::-ms-input-placeholder { /* Microsoft Edge */
  color: #AAAAAA;
}