<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %>
 <% include partials/menu %>
<% include partials/script %>
</head>
<body>
    <div class="aboutRow">
        <div class="aboutLeftColumn">
            <h3 id="aboutHeader"><strong>About Us</strong></h3>
            <p id="aboutInfo">For The Horses was founded though a school hackathon and the idea came about from one of the group members who surprisingly works at a horse farm. We strive to empower those who care deeply about animals, giving them the tools to take social action.</p>
        </div>
        <div class="aboutRightColumn">
            <img class="aboutImg" src="images/about_image.jpg">
        </div>
      </div>
    
        <div class="WhatWeDoLeftColumn">
            <img class="WhatWeDoImg" src="images/what_we_do_about.jpg">
        </div>
        <div class="WhatWeDoRightColumn">
            <h3 id="WhatWeDoHeader"><strong>What We Do</strong></h3>
            <p id="WhatWeDoInfo">We are a team of four who are working our hardest to protect as many animals as we can though excellent software. We hope that this website will serve as a gateway for others to see how we are empowered by technological solutions.</p>
        </div>
</body>
<% include partials/script %>
</html>