<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %>
 <% include partials/menu %>
<% include partials/script %>
</head>
<body>
    <div class="userBox">
        <h3 id="userRegHeader" class="text-center"><strong>Animal Registry</strong></h3>
    </div>
</b>
    <div class="userInfo"> 

        <label for="pName" style="text-align:center;"><i class="fa fa-user"></i><u>Animal Name</u></label>
        <input type="text" id="fname" name="firstname" placeholder="Fluffy">
        <label for="pName" style="text-align:center;"><i class="fa fa-user"></i><u>Species</u></label>
        
        <div class="two-col">
            <div class="col1">
                <label for="field1" style="text-align:center;">Dog Registry:</label>
                <div class="container">
                    <p><strong><u>Age:</u></p></strong>

                <form>
                    <input type="radio" id="age1" name="age" value="30">
                    <label for="age1">Puppy</label><br>
                    <input type="radio" id="age2" name="age" value="60">
                    <label for="age2">Adult</label><br>  
                    <input type="radio" id="age3" name="age" value="100">
                    <label for="age3">Senior</label><br><br>
                  </form>

                  <p><strong><u>Dog can be placed in a home with:</u></p></strong>
                </b>
                <label class="container">Dog(s)
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                  </label>
                  
                  <label class="container">Cat(s)
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                  <p><strong><u>Good with Children ages:</u></p></strong>
                  <form method="post">
                    <div>
                    <input type="checkbox" name="residence" id="0-3"/>
                    <label>0-3 years old</label>
                    <div class="insideover">
                    </div>
                    </div>
                    <div>
                    <input type="checkbox" name="residence" id="4-7" />
                    <label for="agree">4-7 years old</label>
                    </div>
                    <div>
                    <input type="checkbox" name="residence" id="8-11" />
                    <label for="agree">8-11 years old</label>
                    </div>
                    <div>
                    <input type="checkbox" name="residence" id="12-17" />
                     <label for="agree">12-17 years old</label>
                     <p><strong><u>Size:</u></p></strong>
                     <form>
                     <input type="radio" id="small" name="small">
                     <label for="age1">Small</label><br>
                     <input type="radio" id="medium" name="medium">
                     <label for="age2">Medium</label><br>  
                     <input type="radio" id="large" name="large" >
                     <label for="age3">Large</label><br><br>
                   </form>
                </b>
                <p><strong><u>Housetrained:</u></strong></p>
              </b>
              <label class="container">Yes
                  <input type="checkbox" checked="checked">
                  <span class="checkmark"></span>
                </label>
                    </div>
                    </form>
                    <div style="text-align:center;">
                        <input type="submit" value="Submit" >
                      </div>
                      
                  </div>
                  
            </div>
        
            <div class="col2">
                <label for="field2" style="text-align:center;">Cat Registry</label>
            </b>
          
                <div class="container">
                    <p><strong><u>Age:</u></p></strong>
                    <form>
                    <input type="radio" id="age1" name="age" value="30">
                    <label for="age1">Kitten</label><br>
                    <input type="radio" id="age2" name="age" value="60">
                    <label for="age2">Adult</label><br>  
                    <input type="radio" id="age3" name="age" value="100">
                    <label for="age3">Senior</label><br><br>
                  </form>
                </b>
                    
                  <p><strong><u>Cat can be placed in a home with:</u></p></strong>
                </b>
                <label class="container">Dog(s)
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                  </label>
                  
                  <label class="container">Cat(s)
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                  <p><strong><u>Good with Children ages:</u></p></strong>
                  <form method="post">
                    <div>
                    <input type="checkbox" name="residence" id="0-3"/>
                    <label>0-3 years old</label>
                    <div class="insideover">
                    </div>
                    </div>
                    <div>
                    <input type="checkbox" name="residence" id="4-7" />
                    <label for="agree">4-7 years old</label>
                    </div>
                    <div>
                    <input type="checkbox" name="residence" id="8-11" />
                    <label for="agree">8-11 years old</label>
                    </div>
                    <div>
                    <input type="checkbox" name="residence" id="12-17" />
                     <label for="agree">12-17 years old</label>
                    </div>
                    </form>
                </b>
            
           

                    <p><strong><u>Size:</u></p></strong>
                    <form>
                    <input type="radio" id="small" name="small">
                    <label for="age1">Small</label><br>
                    <input type="radio" id="medium" name="medium">
                    <label for="age2">Medium</label><br>  
                    <input type="radio" id="large" name="large" >
                    <label for="age3">Large</label><br><br>
                  </form>
                </b>
                  <p><strong><u>Declawed:</u></strong></p>
                </b>
                <label class="container">Yes
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                  </label>
                  <div style="text-align:center;">
                  <input type="submit" value="Submit" >
                </div>
                  </div>
                </b>
                

                
            </div>
        </div>


    </div>



</body>
</html>