<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %>
 <% include partials/menu %>
<% include partials/script %>
</head>
<body>
    Questions? It's our pleasure to help animals in need get connected with potential forever homes :)
    <!-- Insert a contact form here idk -->
</body>
<% include partials/script %>
</html>