<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %>
 <% include partials/menu %>
<% include partials/script %>
</head>
<body>
    <br />
    <p><b>Questions?</b> It's our pleasure to help animals in need get connected with potential forever homes :)</p>
    <!-- https://www.w3schools.com/howto/howto_css_contact_form.asp -->
    <div class="form_container">
        <form action="#"> <!-- we don't actually want to submit anything right now: don't need to spam -->
      
          <label for="fname">Name</label>
          <input type="text" id="name" name="yourname" placeholder="Your name..">
      
          <label for="selectClientType">Adopter or Organization?</label>
          <select id="selectClientType" name="selectClientType">
            <option value="adopter">Adopter</option>
            <option value="org">Organization</option>
          </select>
      
          <label for="subject">Subject</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
      
          <input type="submit" value="Submit">
      
        </form>
      </div>
      <!-- need to add validation still -->
</body>
<% include partials/script %>
</html>