<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %>
 <% include partials/menu %>
<% include partials/script %>
</head>
<body>
  <div class="container-fluid bg-3 text-center">
  <div class="Wrapper">
    <div class="Search_box">
      <div class="Search_btn">
        <i class="fas fa-search"></i>
    </div>
    
    <input type="text" class="input_Search" placeholder="What species are you looking for?">
  </div>
  </div>
<div class="container-fluid bg-3 text-center">    
  <h3>For The Horses Animal Adoption</h3><br>
  <img class="homeImg" src="images/index_rescue_pic.png">
</div>
<div class="container">
  <form id="pet-form">
    <div class="form-group">
      <label for="animal">Animal</label>
      <select id="animal" class="form-control form-control-lg mb-3">
        <option value="cat">Cat</option>
        <option value="dog">Dog</option>
        <option value="bird">Bird</option>
      </select>
      <input type="text" id="zip" class="form-control form-control-lg" placeholder="Enter your zipcode">
      <input type="submit" value="Find" class="btn btn-dark btn-lg btn-block mt-3"> 
    </div>
  </form>

  <div id="results"></div>
</div>
<script src="javascrips/main.js"></script>
<div class="container-fluid bg-3 text-center">
  <img class="petIcon" src="images/dog_icon.png">
  <img class="petIcon" src="images/cat_icon.png">
</div>
</body>
<footer id="attribution"><a href="https://www.vecteezy.com/free-vector/pets">Pets Vectors by Vecteezy</a><br /><a href="https://www.freepik.com/vectors/horse-outline">Horse outline vector created by freepik - www.freepik.com</a></footer>
</html>
