<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %>
 <% include partials/menu %>
<% include partials/script %>
</head>
<body>
  <!--
  <div class="container-fluid bg-3 text-center">
     unused search box
  <div class="Wrapper">
    <div class="Search_box">
      <div class="Search_btn">
        <i class="fas fa-search"></i>
    </div>
    
    <input type="text" class="input_Search" placeholder="What species are you looking for?">
  </div>
  </div>-->
<div class="bg-3 text-center">    
  <h3>For The Horses Animal Adoption</h3><br />
  <img class="homeImg" src="images/index_rescue_pic.png">
  <br />
</div>
<div class="bg-3 text-center">
  <h4>Commonly searched for:</h4><br>
  <a href="pets?animal=Cat"><img class="petIcon" src="images/cat_icon.png"></a>
  <a href="pets?animal=Dog"><img class="petIcon" src="images/dog_icon.png"></a>
</div>
<br />
<footer id="attribution"><a href="https://www.vecteezy.com/free-vector/pets">Pets Vectors by Vecteezy</a><br /><a href="https://www.freepik.com/vectors/horse-outline">Horse outline vector created by freepik - www.freepik.com</a></footer>
</body>
</html>
