<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %>
 <% include partials/menu %>
<% include partials/script %>
</head>
<body>
<div class="container-fluid bg-3 text-center">    
  <h3>For The Horses Animal Adoption</h3><br>
  <img class="homeImg" src="images/index_rescue_pic.png">
</div>
<div class="row">
  <img class="petIcon" src="images/dog_icon.png">
  <img class="petIcon" src="images/cat_icon.png">
</div>
</body>
<% include partials/script %>
</html>
