<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %>
 <% include partials/menu %>
<% include partials/script %>
</head>
<body>
    Organization Dashboard. You come here after you login. <br />
    You can see your currently listed pets (like see if ppl are tryna request to adopt). <br />
    Then you can also add additional pets, or remove pets.
</body>
</html>