<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %>
 <% include partials/menu %>
<% include partials/script %>
<link rel="stylesheet" href="./stylesheets/orgDashboard.css">
<script type="text/javascript" src="javascripts/show_listings.js"></script>
<!-- probably needs its own js file for fetching based on the organization ID -->
</head>
<body onload="readListings(1)">
   <!-- Organization Dashboard. You come here after you login. <br />
    You can see your currently listed pets (like see if ppl are tryna request to adopt). <br />
    Then you can also add additional pets, or remove pets. <br /> -->
    <br />
    <div class="dashboard">
        <div class="bocks listings">
            <p class="bocksHeader">Your Listings</p><br />
            <div class="results" id="listings"></div> <!-- might need to rename it LATER -->
            <br />
            <div class="buttons_group">
                <!-- the first 3 buttons should be greyed out and not able to be selected if no pet is selected -->
                <div class="listing_bt" id="remove_pet"></div>
                <div class="listing_bt" id="edit_pet"></div>
                <div class="listing_bt" id="view_pet"></div> <!-- need to find out how to make these links. And also add icons inside. -->
                <!-- the last button should be greyed out if the max # of pets have been added? -->
                <a href="/addPet"><div class="listing_bt" id="add_pet"></div></a>
            </div>
        </div>
        <div class="bocks orgProfile">
            <p class="bocksHeader">Organization Profile</p>
            <a id="orgProfileEditLink">Edit</a> <!-- don't know how to put the Edit at the right idk -->
            <div class="orgProfileInfo"></div>
        </div>
    </div>
</body>
</html>