<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %>
 <% include partials/menu %>
<% include partials/script %>
</head>
<body>
    Pet Profile page. This needs to pull more details than the pets.ejs page does, based on the ID used
</body>
</html>