<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %>
 <% include partials/menu %>
 <script type="text/javascript" src="javascripts/pet_search.js"></script>
<% include partials/script %>
</head>
<body>
  
  <h2>JSON Data</h2>
  <p id="'pets1"></p>
  
    <div class="container">
        <form id="pet-form">
          <div class="form-group">
            <label for="animal">Animal</label>
            <select id="animal" class="form-control form-control-lg mb-3">
              <option value="cat">Cat</option>
              <option value="dog">Dog</option>
            </select>
              <button id="load" type="button" onclick="readStuff()">Find Animals</button>
              <div id="update"></div>
          </div>
        </form>
    browse page
    <div id="results"></div>
</body>
<% include partials/script %>
</html>