<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
    <% include partials/menu %>
    <% include partials/script %>
    <link rel="stylesheet" href="./stylesheets/loginscreens.css">
</head>

<body>
    <div class="card">
        <div class="text-center">
            <h1>Login System (User)</h1>
            <h4>Welcome to For The Horses!</h4>
        </div>
        <hr>
        <form>
            <label class="form-label">Username</label>
            <input placeholder="Enter Username" type="username" class="box" id="username">
            <br>
            <label class="form-label">Password</label>
            <input placeholder="Enter Password" type="password" class="box" id="password">
            <button type="button" class="btn" onclick="getInfo()">Login</button>
            <br>
        </form>
        <br> Don't have an account? 
        <a href="/userRegister">Register a free account</a>
        <script>function getInfo() {
                var username = document.getElementById("username").value;
                var password = document.getElementById("password").value;
                console.log("Your username is:" + username + "And password is:" + password)

                
            }</script>
</body>

</html>